.create-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}

.confirm-message {
    border-radius: 40px;
    background-color: #3ac569;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 50px;
    width: 300px;
    height: 50px;
    color: white;
}

.validate-fields {
    border-radius: 40px;
    background-color: pink;
    border: 1px solid mediumaquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    width: 300px;
    height: 50px;
    color: red;
}

.message-icon {
    &__cross {
        font-size: 30px;
        color: white;
        margin: 0 25px;
        cursor: pointer;
        color: rgba(0,0,0,0.6);
    }
}

.form-name {
    display: flex;
    top: 10px;
    text-align: left;
    font-weight: 500;
    margin: 0 auto;
    color: gray;
}

.create-user-form__login {
    width: 85%;
    margin: 10px;
    border: none;
    font-size: 14px;
    font-weight: 300;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

    &:focus {
        outline: 0;
    }
}

.create-user-form__password {
    width: 80%;
    margin: 10px;
    border: none;
    font-size: 14px;
    font-weight: 300;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

    &:focus {
        outline: 0;
    }
}

.create-user-form__firstName {
    width: 85%;
    margin: 10px;
    font-size: 14px;
    border: none;
    font-weight: 300;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

    &:focus {
        outline: 0;
    }
}

.create-user-form__lastName {
    width: 85%;
    margin: 10px;
    font-size: 14px;
    border: none;
    font-weight: 300;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

    &:focus {
        outline: 0;
    }
}

.create-user-form__groups-dropdown {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    color: gray;
    align-items: center;
    margin-left: 10px;
}

.create-user-form__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-user-form__button {
    border: 1px solid mediumaquamarine;
    border-radius: 24px;
    padding: 10px 15px;
    margin: 20px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
    text-align: center;
    line-height: 1.3;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 100ms ease-in-out;
    background: white;
    color: gray;

    &:hover {
        opacity: .9;
        transition: all 100ms ease;
    }

    &:active {
        opacity: .75;
        transform: scale(.97);
        transition: all 100ms ease;
    }

    &:focus {
        outline: 0;
    }
}
